# Google Cloud Project ID
PROJECT_ID=example-fsi-corp

# Google Cloud Region
LOCATION=asia-northeast3

# Target Service Perimeter Name (Optional)
SERVICE_PERIMETER=accessPolicies/1234567890/servicePerimeters/fsi_secure_perimeter

# Target Storage Bucket for FSI Audit / Datastore (Optional)
AUDIT_BUCKET_NAME=example-fsi-audit-logs

# Target KMS Key for CMEK (Optional)
KMS_KEY_NAME=projects/example-fsi-corp/locations/asia-northeast3/keyRings/fsi-keyring/cryptoKeys/fsi-cmek-key
