# Copyright 2026 Google LLC
# SPDX-License-Identifier: Apache-2.0

PROJECT_ID=
LOCATION=asia-northeast3
MODEL_NAME=text-embedding-005
DIMENSIONS=1536,768,512,256,128
SAMPLE_COUNT=1000
PROJECTED_VECTOR_COUNT=1000000
DATA_PATH=
