# Copyright 2026 Google LLC
# SPDX-License-Identifier: Apache-2.0

PROJECT_ID=
LOCATION=asia-northeast3
MODEL_NAME=text-embedding-004
MAX_DIMENSION=768
MIN_DIMENSION=128
PROJECTED_VECTOR_COUNT=1000000
